<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Galada&family=Nanum+Gothic&family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
        <div class="app-header"><p class="h_text" onclick="window.location.href='/'">Find color Project</p>
            <p class="h_text1" onclick="window.location.href='/index'" >model</p>
            <p class="h_text2" onclick="window.location.href='/down'">download</p>
        </div>
        <div class="m1">
            <p class="m1-1">Find Color project</p>
            <p class="p1">오래된 기록물, 콘텐츠의 흑백 이미지에 컬러를 입히는 AI 복원 기술은 사회/경제적 가치 측면에서 필요성이 높아진 현재, </p>
            <p class="p1">저희는 흑백 이미지를 시대적 배경 및 상황(전쟁, 해방, 시위.. 등)에 맞는 컬러 이미지로 복원하는 AI 기술 개발을 목표로 하고 있습니다.</p>
            <a href="#s2"><img src="https://static.wixstatic.com/media/9ee1c5_88a9e0e854c243dc9c1b4d4aef57a426~mv2.gif" alt="arrow.gif" style="width:51px;height:42px;object-fit:cover" fetchpriority="high"></a>
        </div>
        <div id="s2" style="width: 100%; height: 300vh; text-align: center;">
            <p class="m2"> Our Result </p>
            <img src="./static/g5.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 70vw;"> <br>
            <img src="./static/g7.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 50vw;"> <br>
            <img src="./static/g6.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 70vw;"> <br>
            <img src="./static/g4.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 40vw;"> <br>
            <img src="./static/g1.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 40vw;"> <br>
            <img src="./static/g2.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 50vw;"> <br>
            <img src="./static/g3.gif" style="margin-top: 9vh; margin-bottom: 9vh; height:auto; width: 40vw;"> <br>
        </div>
</body>
</html>